version: '3'
services:
  web:
    build:
      context: ./nginx-nodejs
    ports:
     - "8080:80"
    volumes:
     - ./:/app
  mysql:
    build:
      context: ./mysql
      args:
        - MYSQL_VERSION=5.7
    environment:
      - MYSQL_DATABASE=earpa_db
      - MYSQL_USER=user
      - MYSQL_PASSWORD=password
      - MYSQL_ROOT_PASSWORD=root
      - TZ=UTC
    volumes:
      - ~/.e-arpa/data/mysql:/var/lib/mysql
      - ./mysql/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d
    ports:
      - "3306:3306"
